* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header li {
    display: inline;
}

.container {
    width: 1200px;
    margin: 0 auto;

}
