* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

button {
    background-color: #322aa6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin: 20px;
}

button:hover {
    background-color: #45a049;
}

button:focus {
    outline: none;
    box-shadow: 0 0 5px 2px rgba(0, 128, 0, 0.6);
}

button a {
    color: white;
    text-decoration: none;
}

button:disabled {
    background-color: #ddd;
    cursor: not-allowed;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}

section {
    text-align: center;
}

header li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto 0 auto;
}

/* --Logos-- */
.logo-git {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
}
.logo-cadastro, .logo-container, .logo-list, .logo-tabela, 
.logo-formulario, .logo-label, .logo-midia, .logo-tel, .email-marketing, .logo-css {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: cover;
}